[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Wake On Lan
Exec=/usr/bin/invoker --splash=/opt/wakeonlan/resources/splash.png --type=d --single-instance /opt/wakeonlan/bin/wakeonlan
Icon=/usr/share/icons/hicolor/80x80/apps/wakeonlan80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
